/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /* font-family: 'Open Sans', sans-serif;
   font-family: 'Poppins', sans-serif; */

/* General styles */
::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: #e2e3ed;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h2 {
  font-size: 1.875em;
  font-weight: normal;
}

h3, h4 {
  font-size: 1.125em;
  font-weight: normal;
}

p {
  font-size: .875em;
}

.content-wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

/************************** Base Header - Footer styles ******************/
header,
footer {
  background-color: #202322;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* Header styles */
header {
  padding-top: 15px;
}

header .content-wrapper {
  /* width: 60%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

img {
  max-width: 100%;
}

.header-divider {
  background: #3a3a3a;
  height: 1px;
  width: 100%;
  margin-top: 10px;
}

header nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 0;
}

.nav-item {
  color: #e2e3ed;
  font-size: 1.125em;
  font-weight: bold;
  text-decoration: none;
  margin: 0 1.5em;
  text-transform: uppercase;
}

/* Footer styles */
footer {
  color: #ffffff;
  flex-direction: column;
}

footer .content-wrapper {
  width: 55%;
  margin: 50px 0;
}

.footer-content {}

.contact,
.social {
  text-align: center;
}

.contact {
  padding-bottom: 40px;
}

.contact-info {
  font-style: normal;
  padding: 15px 0 20px;
}

.contact-info p {
  margin: 0;
}

.footer-contact p {
  line-height: 1;
}

.social-icons {
  display: flex;
  justify-content: center;
  /*space-around used in soluton*/
  align-items: center;
}

.social p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*************************** Mobile styles - Homepage *********************/
/* Hero section */
.hero-area {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-image: url("../img/jake-melara-30679-unsplash.jpg");
  /* background-color: ; */
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-headline {
  font-size: 2.25em;
  font-weight: normal;
  line-height: 1.25;
  padding: 50px 20px 0 0;
}

/* Aside section */
aside {
  background-color: #527158;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

input {
  margin-top: 15px;
}

.form-description-headline {
  padding-top: 25px;
}

.form-headline {
  margin-top: 25px;
}

.form-btn-text {
  font-family: 'Open Sans', sans-serif;
  font-size: .875em;
  font-style: italic;
  padding: 1em;
  width: 90%;
}

.form-btn-download {
  background-color: #2a423a;
  color: #e2e3ed;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  padding: 15px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  text-align: center;
}

/* Features section */
.features {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* includes flex-flow: row wrap in solution */
color: #000000;
  /* background-image: url("../img/rawpixel-800820-unsplash1.jpg");
  background-color: ;
  height: 1450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; */
  padding: 50px 0;
}

.features-headline {
  padding-bottom: 50px;
}

.features-items {
  width: 62%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
  margin: 0;
  padding: 0 60px;
}

.fontawesome-icon {}

.features-items p {
  padding-top: 30px;
  margin: 0;
}

/* Reviews section */
.reviews {
  background-color: #2a423a;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*missing in solution*/
  flex-flow: row wrap;
}

.company-img {
  padding-top: 30px;
  padding-bottom: 20px;
}

.company-content h3 {
  width: 55%;
}

/*************************** Mobile styles - About page *********************/
.mission {
  background: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 45px 0;
}

.mission-headline {
  line-height: 1.25;
}

.mission-content p {
  margin-bottom: 0;
}

.contact-section {
  background-color: #2a423a;
  padding: 45px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* includes flex-flow: row wrap in solution */
}

.contact-content {
  margin-top: 10px;
}

/*************************** Mobile styles - FAQ page *********************/
.faq {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 50px 0 35px;
}

.faq .content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

.faq-content {
  margin-top: 40px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width:768px) {

/*** Tablet styles - General ***/
h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: .875em;
}

.content-wrapper {
  max-width: 85%;
  /* max-width: 640px; */
}

/* Header */
header {
  padding: 25px 0;
}

header .content-wrapper {
  flex-flow: row nowrap;
  justify-content: space-between;
}

.logo {
  width: 40%;
}

header nav {
  width: 30%;
}

.header-divider {
  display: none;
}

.nav-list {
  justify-content: space-between;
}

.nav-item {
  /* margin: 0; */
}

/* Footer */
footer .content-wrapper {
  margin: 90px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.footer-contact p {
  line-height: 1.4;
}

/*** Tablet styles - Homepage ***/

/* Hero area */
.hero-headline {
  font-size: 3em;
  line-height: 1;
  margin-top: 40px;
}

/* Aside */
aside .content-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.form-description,
.form {
  width: 45%;
}

/* Features */
.features {
  padding: 90px 0;
}

.features-items {
  width: 85%;
  justify-content: space-between;
  align-items: flex-start;
}

.features article {
  flex-basis: 40%;
}

/* Reviews */
.reviews {
  padding: 90px 0;
}

.review-heading {
  width: 75%;
}

.company-review {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
}

.company-img,
.company-content {
  width: 50%;
}

.company-img {
  padding: 0;
}

.company-content {
  padding-left: 20px;
}

.company-content h3 {
  width: 100%;
}

/*** Tablet styles - About page ***/

.mission {
  padding: 90px 0;
}

.mission-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mission-headline {
  margin-bottom: 30px;
}

.col {
  width: 50%;
}

.col + .col {
  margin-left: 45px;
}

.contact-section {
  padding: 90px 0;
}

.contact-section-headline {
  width: 80%;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}

.facilitator-info {
  margin-right: 30px;
}

/*** Tablet styles - FAQ page ***/

.faq {
  padding: 90px 0;
}

.questions {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.faq-content {
  flex-basis: 45%;
}

}

@media only screen and (min-width:1200px) {
/*** Desktop styles - General   ***/
h3 {
  font-size: 1.875em;
}

p, h4 {
  font-size: 1.125em;
}

/* Header */
header nav {
  width: 20%;
}

/* Footer */
footer .content-wrapper {
  width: 75%;
}

.footer-contact p {
  line-height: 1;
}

/*** Desktop styles - Homepage   ***/
/* Hero */
.hero-headline {
  font-size: 3.75em;
  line-height: 1.2;
  margin-top: 0;
}

/* Aside */

aside .content-wrapper {
  justify-content: space-around;
}

.form-description,
.form {
  padding: 0 70px;
}

.form-btn-text {
  font-size: 1.125em;
}

.form-btn-download {
  font-size: 1.5em;
}

/* Features */
.features article {
  flex-basis: 30%;
}

.features-items p {
  padding: 30px 25px 0 25px;
}

/* Reviews */
.company-review {
  padding-top: 90px;
}

.company-content {
  padding-left: 30px;
}

/*** Desktop styles - About page   ***/
.mission-headline {
  width: 90%;
}

.mission-headline,
.contact-section-headline {
  font-size: 3em;
}

.contact-section-headline {
  width: 100%;
}
.contact-content {
  margin-top: 30px;
}

.contact-info {
  padding-top: 30px;
}

.facilitator-info {
  margin-right: 180px;
}

/*** Desktop styles - FAQ page   ***/
.faq-headline {
  font-size: 3em;
}

.faq-content {
  flex-basis: 45%;
  padding-right: 20px;
}

.faq-content p {
  line-height: 1;
}
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
